@model Template.Models.DemandeAttestation


@using (Html.BeginForm("Create", "DemandeAttestation",

FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()






    <div class="card border-light mb-3">
        <div class="card-header">Détail Demande</div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-sm-12">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="exampleSelect1">Status </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="exampleSelect1" readonly="readonly">
                                    <option selected>En attente de validation</option>
                                    <option>Approuvée</option>
                                    <option>Refusée</option>
                                    <option>Rejeté</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="exampleSelect1">Type </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="exampleSelect1" readonly="readonly">
                                    <option selected>Attestation de Travail</option>
                                    <option>Demande Congé</option>
                                    <option>Fiche de paie</option>
                                    <option>Attestation d'hebergement</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="exampleTextarea" class="col-sm-2 control-label">Motif</label>
                            <div class="col-sm-3">
                                <textarea class="form-control" id="exampleTextarea" rows="3" readonly="readonly"></textarea>
                            </div>
                            <label for="exampleTextarea" class="col-sm-2 control-label">Motif validation/Refus</label>
                            <div class="col-sm-3">
                                <textarea class="form-control" readonly="readonly" id="exampleTextarea" rows="3"></textarea>
                            </div>

                        </div>
                          
                        <div class="btn-group" style="float: left;" role="group" aria-label="Basic example">
                            <a href="@Url.Action("Index")" class="btn btn-secondary">Retour</a>
                            <button style="visibility:hidden" type="submit" class="btn btn-primary">Valider</button>

                        </div>

                    </fieldset>
                </div>

            </div>

        </div>
    </div>

    


}

